/* here you can put your own css to customize and override the theme */
a.btn.btn-info.my-btn{
 padding: 7px 14px;  
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0;
  background: #94db40;
  color: #ffffff;
  letter-spacing: 1px;
	font-weight: 600;
	border-color: transparent;
}
a.btn.btn-info.my-btn:hover{
	background: transparent;
	color: #ffffff;
	border: 1.5px solid #94db40;
}
.publier >a, .publier >a:hover{
color: white;
}

.slider-item-2 .large_bold_white {
  font: 600 37px/83px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
}
.services-block .fa {
  background: #94db40;
  color: #fff;
  width: 99px;
  height: 99px;  
  line-height: 1;
  border-radius: 50%;
  position: relative;
  margin-bottom: 29px;
}
.services-block .fa:after {
  bottom: -8px;
  width: 0; 
  height: 0;
  left: 50%;
  margin-left: -9px;
  z-index: 2; 
  content: " "; 
  display: block; 
  position: absolute;
  border-top: 9px solid #94db40;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.header-top{
	 background-image: url('../img/07.jpg'); 
  background-size: cover; 
  padding-top: 10px;
}
.header-text {
  margin-bottom: 200px;
  margin-top: 0px;
  color: black;
  margin-left: 65%;

}

a.btn.btn-danger.my-btn1{
 padding: 7px 14px;  
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0;
  background: #33b1e6;
  color: #ffffff;
  letter-spacing: 1px;
	font-weight: 600;
	border-color: transparent;
}
a.btn.btn-danger.my-btn1:hover{
	background: #33b1e6;
	color: #ffffff;
	border: none;

}

